@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem  = 9px; 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem  = 8px; 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem  = 12px; 12/16 = 75%
  }
}
// ## Colors

// ### Primary

// - Red: hsl(0, 100%, 74%)
// - Green: hsl(154, 59%, 51%)

// ### Accent

// - Blue: hsl(248, 32%, 49%)

// ### Neutral

// - Dark Blue: hsl(249, 10%, 26%)
// - Grayish Blue: hsl(246, 25%, 77%)

// ## Typography

// ### Body Copy

// - Font size: 16px

// ### Font

// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 400, 500, 600, 700
:root {
  --red: hsl(0, 100%, 74%);
  --primary: hsl(154, 59%, 51%);

  // ### Accent

  --blue: hsl(248, 32%, 49%);

  // ### Neutral

  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  --default-font-size: 1.6rem;
}

body {
  position: relative;
  box-sizing: border-box;
  padding: 3rem;
  background-color: var(--red);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: white;
  &::before {
    content: "";
    background-image: url("../images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  @include respond(med-phone) {
    background-image: url("../images/bg-intro-mobile.png");
  }
  @include respond(tab-port) {
    box-sizing: border-box;
    padding: 0;
  }
}
h1 {
  font-size: 4rem;
}
form {
  width: 100%;
}
footer {
  grid-column: 2/4;
}

.container,
.section-2-col,
.card,
.col,
.side-by-side {
  position: relative;
  margin: 0;

  display: grid;
  align-items: center;
  grid-template-rows: auto;
}

.container {
  justify-items: center;

  justify-content: center;
  margin-top: 8rem;
  grid-gap: 5rem 0;

  grid-template-columns:
    minmax(5rem, 1fr)
    minmax(min-content, 114rem)
    minmax(5rem, 1fr);

  // grid-gap: 4rem 4rem;
}
.section-2-col {
  grid-column: 2/3;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
.side-by-side {
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto;
  grid-gap: 0 1rem;
  justify-items: flex-end;
  margin-top: -2rem;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--red);
}

@include respond(phone) {
  .section-2-col {
    grid-template-columns: 1fr;
  }
}

.col,
.card {
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  width: 100%;
}
.card {
  color: var(--dark-blue);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  grid-gap: 0;
  padding: 4rem;
}
.signup {
  border-radius: 0.5rem;

  width: 100%;
  padding: 1.5rem;
  font-weight: 600;
}
.signup-label {
  display: none;
}
.red {
  color: red;
}
.disclaimer {
  font-size: 1rem;
  color: var(--grayish-blue);
  margin-top: 1.5rem;
  text-align: center;
}
.hide {
  display: none;
}
